.mz-object,
.mz-object * { box-sizing:content-box !important; -webkit-box-sizing:content-box !important; margin:0; padding:0; font-size:0; letter-spacing:0; }
.mz-object-wrap, .mz-object { position:relative; display:block; }
.mz-object-wrap > img, .mz-vault { display:none; }
.mz-thumb-item { overflow:hidden; }
.mz-thumb { position:absolute; top:0; left:0; width:0; height:0; }